{% extends "base.html" %}

{% block title %}
	Curso de django
{% endblock %}

{% block content %}
<p>Estamos a día {{dame_fecha}}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec nibh rutrum, mollis lorem sit amet, varius metus. Donec et ante sit amet mauris ullamcorper molestie. Ut tempor pulvinar convallis. Proin pellentesque gravida finibus. Morbi facilisis ut ante nec cursus. Nulla facilisi. Vivamus bibendum fringilla lacus, et faucibus nisl auctor viverra. Vestibulum dignissim tortor sed nibh malesuada bibendum. Quisque nulla enim, rhoncus a ipsum sit amet, sodales rutrum enim. Fusce vehicula vestibulum arcu non hendrerit. Sed eu gravida nibh. Ut id semper velit, eget volutpat lorem. Vestibulum aliquam lorem vitae augue consequat volutpat. Donec mattis tortor sed arcu facilisis volutpat. Aliquam erat volutpat.</p>

<iframe width="955" height="547" src="https://www.youtube.com/embed/d1-UX6aR_TM?list=PLU8oAlHdN5BmfvwxFO7HdPciOCmmYneAB" title="Curso Django. Plantillas VI. Herencia de plantillas. Vídeo 10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}